$item-bg: lightblue;

@mixin get-gradient($base) {
  background: linear-gradient(90deg, rgba($base, 1) 0%, rgba($base, .8) 50%, rgba($base, 1) 100%)
}

.calendar-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 80vw;
  height: 8vw;
}

.calendar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // background: $item-bg;
  @include get-gradient($item-bg);
  // background-color: $item-bg !important;
  font-size: 2em;
  text-align: center;
  // border-bottom: solid 1px #bbb;
  // border-right: solid 1px #ccc;
  // border-left: solid 1px #ccc;
  
  &--disabled {
    @extend .calendar-item;
    @include get-gradient(#cbcbcb);
  }
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-some {
  width: 60%;
  height: 10px;
  border-radius: 40px;
}

.event-visiting {
  @extend .event-some;
  background-color: #006bc2;
}

.event-booking {
  @extend .event-some;
  background-color: #02ad1d;
}